<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p>We are upgrading our server</p>
    <p>Check back in a minute! Thanks</p>
    {{> footer}}
    
  </body>
</html>
