<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <h2>Some of my projects....</h2>
    <p>some stuff :) :)</p>
    {{> footer}}
  </body>
</html>
